.facultyContainer {
    display: flex;
    padding: 20px;
  }
  
  .sidebar {
    width: 250px;
    background-color: #ffffff34;
    padding: 15px;
    border-radius: 1px;
    border: 1px solid #266935;
    height: 100vh;
  }
  
  .sidebar h3 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .directionItem {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .addDirectionButton {
    padding: 10px 20px;
    background-color: #68c28a91;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    width: 550px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.281);
  }
  
  .modalHeading {
    font-size: 22px;
    margin-bottom: 20px;
    color: #28803e;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #dfe1e5;
    margin-bottom: 20px;
  }
  
  .modalButtonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .confirmButton {
    padding: 10px 20px;
    background-color: #5f976cbe;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .cancelButton {
    padding: 10px 20px;
    background-color: #dc354673;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  