.footer {
    width: 100%;
    margin-top: 120px;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    position: relative;
    width: 100%;
}

.footerImageContainer {
    width: 100%;
    height: auto;
}

.footerImage {
    width: 100%; 
    height: 190px; 
    object-fit: cover;
}

.logoContainer {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем логотип внутри контейнера */
    z-index: 10;
    width: 100%; /* Обеспечиваем, что контейнер занимает всю ширину */
}

.logo {
    width: 100px;
    height: 80px;
}

@media (max-width: 768px) {
    .footerImage {
        height: 150px; 
    }

    .logoContainer {
        bottom: 15px;
    }

    .logo {
        width: 60px; /* Уменьшаем размер логотипа на мобильных устройствах */
        height: 50px;
    }
}

@media (max-width: 480px) {
    .footerImage {
        height: 50px; 
    }

    .logoContainer {
        bottom: 10px;
    }

    .logo {
        width: 50px; /* Еще меньше для маленьких экранов */
        height: 40px;
    }
}
