.footerImage {
    width: 1900px; 
    height: 190px; 
    margin-top: -10px;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.logoContainer {
    margin: 20px 0; 
}

.logo {
    max-width: 100px; 
    height: auto; 
}
   


.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

main {
    flex: 1; 
}

