.footer {
    background: linear-gradient(45deg, #004d407a, #00796b); /* Градиент от темно-зеленого к зеленому */
    padding: 40px 20px;
    max-width: 1200px;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.3s ease;
  }
  
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .footerImageContainer {
    width: 100%;
    margin-bottom: 20px;
  }

  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .footerImageContainer,
  .logoContainer {
    width: 100%;
    text-align: center;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 20px 10px;
    }
  
    .footerImage {
      height: 150px; /* Ограничиваем высоту изображения на мобильных */
    }
  
    .logo {
      height: 35px;
    }
  }
  