
.headerContainer {
    display: flex; /* Используйте flexbox для выравнивания элементов */
    align-items: center; /* Центрирование по вертикали */
    justify-content: space-between; /* Распределение пространства между элементами */
}
.headerImageContainer {
    position: relative; 
}

.headerImage {
    width: 1900px; 
    height: 190px; 
}

.logoContainer {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    display: flex;
    align-items: center; 
}

.logo {
    width: 70px; 
    height: 90px; 
}

.brandName {
    font-size: 28px; 
    font-weight: bold;
    margin-left: 5px; 
    color: #ffffff;
    margin-top: 5px;
}

.logoutButton {
    position: absolute; 
    top: 20px; 
    right: 20px; 
    background: none; 
    border: none; 
    cursor: pointer; 
}

.userIcon {
    width: 40px; 
    height: auto; 
    margin-top: 15px;
}
