/* Основной контейнер карточки */
.labwork-card {
  background-color: #ffffff;  /* Белый фон */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 15px auto;
  max-width: 900px;
  font-family: 'Roboto', sans-serif;
}

/* Заголовок карточки */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 15px;
}

/* Кнопка скачивания */
.download-button {
  background: linear-gradient(135deg, #34dbb1b6, #016354); /* Градиент для кнопки */
  color: white;
  padding: 8px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background: linear-gradient(135deg,  #34dbb1b6, #00443a); /* Изменение градиента при наведении */
}

.download-button:disabled {
  background: #ddd;
  cursor: not-allowed;
}

/* Название лабораторной работы */
.lab-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}

/* Описание лабораторной работы */
.description {
  margin-top: 10px;
}

.description p {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

/* Дедлайн */
.deadline {
  margin-top: 15px;
  font-size: 14px;
  color: #888;
}

.deadline span {
  font-weight: 500;
}

/* Контейнер для PDF */
.pdf-container {
  margin-top: 20px;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
}

.pdf-container iframe {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pdf-container p {
  font-size: 14px;
  color: #d85d4f;
  font-weight: 500;
  text-align: center;
}

/* Ссылка на отчет */
.report {
  margin-top: 20px;
  text-align: center;
}

.report a {
  color: #04433b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.report a:hover {
  text-decoration: underline;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 600px) {
  .labwork-card {
    padding: 15px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .download-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .lab-title {
    font-size: 16px;
  }

  .description p,
  .deadline span {
    font-size: 12px;
  }

  .pdf-container iframe {
    height: 300px;
  }

  .report a {
    font-size: 12px;
  }
}
