/* Основной контейнер для страницы меню администратора */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: auto; */
  
}

/* Меню */
.menu {
  width: 100%;
  max-width: 300px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.1);
}

.menu {
  text-align: center;
}

.heading {
  font-size: 30px;
  color: #00796b;
  margin-bottom: 30px;
}

.facultiesList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin: 12px 0;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
}

.facultyItem {
  font-size: 18px;
  color: #00796b;
  text-decoration: none;
}

.facultyItem:hover {
  color: #004d40;
}

.deleteBtn {
  padding: 8px 16px;
  background-color: #bb4a42;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteBtn:hover {
  background-color: #d32f2f;
}

.buttonContainer {
  text-align: center;
  margin-top: 20px;
}

.addButton {
  padding: 16px 28px;
  background: linear-gradient(135deg, #43ab80a0, #025c3f);
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  transition: transform 0.3s ease;
}

.addButton:hover {
  background: linear-gradient(135deg,#43ab80a0, #013122);
  transform: scale(1.05); /* Эффект увеличения */
}

.addButton:active {
  background: linear-gradient(135deg,#43ab80a0, #013a28);
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.modalHeading {
  font-size: 24px;
  color: #00796b;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #00796b;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
}

.input:focus {
  border-color: #004d40;
}

.modalButtonContainer {
  display: flex;
  justify-content: space-between;
}

.confirmButton {
  padding: 12px 24px;
  background-color: #035a38;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #157e62;
}

.cancelButton {
  padding: 12px 24px;
  background-color: #c2524a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 48%;
  transition: background-color 0.3s ease;
}

.cancelButton:hover {
  background-color: #b14f4f;
}

/* Адаптивность для мобильных устройств */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  .facultiesList {
    flex-direction: column;
    align-items: flex-start;
  }

  .deleteBtn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .addButton {
    font-size: 16px;
    padding: 14px 24px;
  }

  .modalContent {
    width: 80%;
    padding: 30px;
  }

  .input {
    font-size: 14px;
    padding: 10px;
  }

  .confirmButton, .cancelButton {
    font-size: 14px;
    padding: 10px 20px;
    width: 48%;
  }
}
