/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #f7f7f7;
  color: #333;
  font-size: 16px;
}

/* Контейнер */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

/* Меню */
.menu {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  padding: 25px;

}


.heading {
  font-size: 28px;
  font-weight: 600;
  color: #345e43;
  text-align: center;
  margin-bottom: 30px;
}

/* Список факультетов */
.facultiesList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #ecf0f1;
}

.facultyItem {
  font-size: 20px;
  color: #2c3e50;
  text-decoration: none;
  padding: 12px;
 
}

.facultyItem:hover {
  color: #1abc9c;
}

/* Кнопка удаления */
.deleteBtn {
  background: linear-gradient(135deg, #e74c3c, #c0392b);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.deleteBtn:hover {
  background: linear-gradient(135deg, #c0392b, #e74c3c);
  transform: scale(1.1); /* Увеличение кнопки при наведении */
}

/* Кнопка добавления */
.buttonContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.addButton {
  background: linear-gradient(135deg, #34db39, #196323);
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(69, 219, 52, 0.2);
  transition: background 0.3s ease, transform 0.3s ease;
}

.addButton:hover {
  background: linear-gradient(135deg, #29b93c, #d9f8d8);
  transform: scale(1.1); /* Увеличение кнопки при наведении */
}

/* Модальное окно */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalContent {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 40px;
  width: 450px;
  text-align: center;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  
}

@keyframes slideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.modalHeading {
  font-size: 26px;
  color: #34495e;
  margin-bottom: 20px;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #3498db;
}

.modalButtonContainer {
  display: flex;
  justify-content: space-between;
}

.confirmButton {
  background: linear-gradient(135deg, #2ecc71, #27ae60);
  color: white;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.confirmButton:hover {
  background: linear-gradient(135deg, #27ae60, #2ecc71);
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.cancelButton {
  background: linear-gradient(135deg, #e67e22, #d35400);
  color: white;
  padding: 12px 25px;
  border-radius: 50px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition: background 0.3s ease, transform 0.3s ease;
}

.cancelButton:hover {
  background: linear-gradient(135deg, #d35400, #e67e22);
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}
