.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 27%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #f0e7e7;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #114f19cd;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #086815be;
}

/* Медиазапросы для адаптации */
@media (max-width: 768px) {
  .container {
    top: 40%; /* Уменьшаем отступ сверху на планшетах */
    padding: 15px; /* Уменьшаем внутренние отступы */
  }

  .inputField,
  .button {
    font-size: 14px; /* Уменьшаем размер шрифта */
    padding: 8px; /* Уменьшаем внутренние отступы */
  }
}

@media (max-width: 480px) {
  .container {
    top: 30%; /* Уменьшаем отступ сверху еще больше для маленьких экранов */
    padding: 10px; /* Уменьшаем внутренние отступы еще больше */
  }

  .inputField,
  .button {
    font-size: 12px; /* Уменьшаем размер шрифта еще больше */
    padding: 6px; /* Уменьшаем внутренние отступы еще больше */
  }
}
