/* Secretary_Direction_Main.module.css */

/* Общие стили контейнера */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Обертка для карточек */
  .grid {
    display: flex;
    justify-content: center; /* Горизонтальное выравнивание по центру */
    align-items: center; /* Вертикальное выравнивание по центру */
    flex-direction: column; /* Размещение карточек в одном столбце */
    gap: 10px; /* Отступы между карточками */
    min-height: 100vh; /* Высота на всю страницу */
  }
  
  /* Стили для карточек */
  .card {
    padding: 20px;
    background-color: #2c993b1e;
    border: 1px solid #ffffff00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 500px; /* Ширина карточки */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное изменение размера и тени */
  }
  
  /* Эффект при наведении на карточку */
  .card:hover {
    transform: scale(1.0); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
  }
  
  /* Адаптивность для экранов шириной до 1024px (планшеты) */
  @media (max-width: 1024px) {
    .title {
      font-size: 22px; /* Уменьшаем размер шрифта для планшетов */
    }
  
    .grid {
      gap: 20px; /* Увеличиваем отступы между карточками */
    }
  
    .card {
      width: 80%; /* Ширина карточки 80% от родителя */
      font-size: 14px; /* Уменьшаем шрифт на карточке */
      height: 60px; /* Увеличиваем высоту карточки */
    }
  }
  
  /* Адаптивность для экранов шириной до 768px (мобильные устройства) */
  @media (max-width: 768px) {
    .title {
        font-size: 22px; /* Уменьшаем размер шрифта для планшетов */
      }
    
      .grid {
        gap: 20px; /* Увеличиваем отступы между карточками */
      }
    
      .card {
        width: 80%; /* Ширина карточки 80% от родителя */
        font-size: 14px; /* Уменьшаем шрифт на карточке */
        height: 60px; /* Увеличиваем высоту карточки */
      }
  }
  
  /* Адаптивность для экранов шириной до 480px (очень маленькие экраны, смартфоны) */
  @media (max-width: 480px) {
    .title {
        font-size: 22px; /* Уменьшаем размер шрифта для планшетов */
      }
    
      .grid {
        gap: 20px; /* Увеличиваем отступы между карточками */
      }
    
      .card {
        width: 80%; /* Ширина карточки 80% от родителя */
        font-size: 14px; /* Уменьшаем шрифт на карточке */
        height: 60px; /* Увеличиваем высоту карточки */
      }
  }
  