/* Общие стили для контейнера */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px; /* Ограничиваем максимальную ширину */
  height: auto; /* Высота будет адаптироваться к содержимому */
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); /* Увеличенная тень для большей глубины */
  text-align: center; /* Центрирование текста */
  box-sizing: border-box;
  transition: all 0.3s ease-in-out; /* Плавный переход */
}

/* Кнопка закрытия */
.closeButton {
  outline: none;
  border: none;
  color: white;
  background-color: #d9534f; /* Красный цвет для кнопки закрытия */
  padding: 12px 20px; /* Сделаем размер кнопки одинаковым */
  border-radius: 8px; /* Радиус границ такой же как у основной кнопки */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.closeButton:hover {
  background-color: #c9302c; /* Более темный красный при наведении */
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

/* Поля ввода */
.inputField {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  font-size: 16px;
  border: 1px solid #f0e7e7;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #4CAF50; /* Зеленый цвет при фокусе */
}

/* Основная кнопка */
.button {
  width: 100%;
  padding: 12px 20px; /* Убедимся, что кнопки одинакового размера */
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4CAF50; /* Зеленый цвет */
  border: none;
  border-radius: 8px; /* Радиус границ такой же как у кнопки закрытия */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Более светлый зеленый при наведении */
  transform: scale(1.05); /* Легкое увеличение при наведении */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Легкая тень при наведении */
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
  .container {
    padding: 15px;
    margin-left: 10px;
  }

  .inputField,
  .button,
  .closeButton {
    font-size: 14px;
    padding: 10px; /* Уменьшаем padding */
  }
}

/* Адаптивность для экранов до 480px */
@media (max-width: 480px) {
  .container {
    padding: 10px;
    margin-left: 5px;
  }

  .inputField,
  .button,
  .closeButton {
    font-size: 12px;
    padding: 8px; /* Уменьшаем padding для маленьких экранов */
  }
}
